@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Press+Start+2P&display=swap');

body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    background-color: #A9C6D9;
}

h1, h2, h3, h4, h5 , h6 { 
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    color:#5993bb;
}

a:hover {
    color:#77b6e2;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse; 
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

tbody td.num {
    text-align:right;
}


ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0; 
   padding:0;
}


#header {
    background:#5A798C;
    color:#444;
    padding:25px 100px;
    overflow:auto;
  
}

#header .cart {
    float:right;
    padding-top:4px;
    color: #D5E5F2;
    font-weight: 600;
}

#content {
    display: flex;
    padding:0 2vw;
    overflow:hidden;
    transition: all .5s ease;
    margin-left:20%;
    justify-content: center;
}

#empty{
    font-size: 25px;
    color: #5A798C;
    margin-top: 100px;
}

.btn-delete{
    background-color: #A9C6D9;
    border-color: #A9C6D9;
    
    color: #402232;
    font-weight: 800;
}

.btn-danger{
    margin-top: 10px;
    font-weight: 600;
}

.btn-delete:hover {
    background-color: #728491;
    border-color: #728491;

}



#main {
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    float:left;
    width: 100%;
    
    overflow:hidden;
}

#main h1{
    width: 100%;
    text-align: center;
}

.product-list .item {
    flex-grow: 1;
    width:30%;   
    text-align:center;
    
}
/*actions*/
.btn-actions{
    background: #364C59;
    color: #D5E5F2;
    width: 100%;
}

.btn-actions:hover{
    background: #A9C6D9;
    color: #402232;
    
}

/* za dodajanje kategorij */
.input-bar {
    display: table;
    width: 100%;
    padding-top: 20px;
}

.input-bar-item {
    display: table-cell;
}

.input-bar-item > input {
    margin-left: 5px;
}
    
.width100 {
  width: 100%;
}

#add-category{
    border-radius: 0 0.25rem 0.25rem 0;
    color:#D5E5F2;
    background-color: #364C59;
    border-color: #364C59;
    font-weight: 700;
}
#add-category:hover{
    background-color: #A9C6D9;
    border-color: #728491;
    color: #402232;
}

/*delete*/

.category-in-line{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.delete-category input[type="submit"]{
    transform: rotate(45deg);
    text-decoration: none;
    font-size:22px;
    border:none;
    background-color: transparent;
    outline: none;
}
.delete-category:hover{
    text-decoration: none;
}


/*modal popout delete category*/
.bg-modal-category{
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.5); /* make it half transparent */
    position: absolute;
    top:0px;
    z-index: 1;
    display: none;  /* It will remain invisible until you open */
    justify-content: center; /*center horizontally*/ 
    align-items: center ; /* center vertically */
    
}

.modal-content-delete-category{
    width:600px;
    height:300px;
    background-color: white;
    border:none; 
    border-radius: 15px;
    padding:15px;
    position: relative;
    display:none
}

#confirmationDiv{
    display: none;
}

.popout{
    display: none;
    justify-content: center;
    position: absolute; 
    left:0;
    right:0;
    top:20%;
    z-index:99999;
}

.center-column{
    width:600px;
    margin: 20px;
    padding:20px;
    background-color: #5A798C;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
    align-items: flex-start;
    z-index: 1000;
}



.radio{
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.radio li{
    color: #ffffff;
}



input {
    width: 100%;
    box-sizing: border-box;
}

input#id_title {
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    
}

input::placeholder {
  color: #d3d3d3;
}

.submit{
    background-color: #6BA3E8;
    width: 50%;
}

.task-add{
    width: 50%;
    margin: 8px 0;
}

.add-buttons{
    display: flex;
    margin-top: 10px;
}

select#id_category{
    margin-bottom: 7px;
    width: 100%;
    padding-left: 10px;
    color: #6C8B92;
    border-radius: 3px;
    background: #FFFFFF
}

.popout h3{
    text-align: center;
    color: #D5E5F2;
}



.item-row{
    background-color: #364C59;
    margin: 10px;
    padding: 15px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
}

.item-row-done{
    background-color: #D5E5F2;
    margin: 10px;
    padding: 15px;
    border-radius: 3px;
    color: #364C59;
    font-size: 16px;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
}

.doto{
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: #fff;
    background-color: #402232;
   
    margin-top: 10px;
}

/* messages */
ul.messages {
    margin:10px 0;
    align-self: center;
    padding:0;
    list-style-type:none;
    display: flex;
    justify-content: center;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    border-radius: 3px;
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
    width: 90%;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#ffffff; }
ul.messages li.error a { color:#ffffff; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

/*sidemenu*/

#sidebar {
    position: fixed;
    width:20%;
    padding:9% 1% 0 1%;
    left: 0;
    top: 0;
    height: 100%;
    transition: all .5s ease;
    background: #5A798C;
    color: #D5E5F2;
    
}

#sidebar ul{
    padding:0;    
}

#sidebar ul h3{
  text-align: center;
  margin-bottom: 20px;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:8px 8px;
}

#sidebar ul li ul li{
    margin:0;
    list-style:none;
    padding:8px 10px;
}

.list-categories{
    margin: 0 10px 0 10px;
}

.list-categories li:hover{
background: #364C59;
border-radius: 4px;

}


#sidebar ul li ul li a {
    display:block;
    color: #D5E5F2;
}

#sidebar ul li ul li.selected {
    background:#364C59;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#D5E5F2;
}

.remove-category{
    color: #D5E5F2;
    font-weight: 700;
}

#check{
    display: none;
    
}



label #btn,label #cancel, .logo{
    position:absolute;
    cursor: pointer;
    color: #D5E5F2;
    
}

label #btn{
    left: -40px;
    top: 22px;
    font-size: 35px;
    transition: all .5s;
    color: #D5E5F2;
    
}

label #cancel{
    z-index: 1111;
    left: 18%;
    top: 22px;
    font-size: 35px;
    transition: all .5s ease;
}

.logo {
    font-family: 'Press Start 2P', cursive;
    color:#D5E5F2;
    font-size:35px;
    z-index: 1000;
    top: 15px;
    left:22%;
    transition: all .5s ease;
}

#check:checked ~ #sidebar{
    left: -20%;
}

#check:checked ~ label #btn{
    left: 40px;

}

#check:checked ~ label #cancel{
    left: -295px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ #content{
    margin-left: 0;
}

#check:checked ~ .logo{
    left: 108px;
}

/*timer*/

.taskCountdown{
    font-family: sans-serif;
	color: #fff;
	display: flex;
	font-weight: 100;
	text-align: center;
    font-size: 20px;
    justify-content: center;
    column-gap: 8px

}

.taskCountdown > div{
	padding: 8px;
	border-radius: 3px;
	background: #A9C6D9;
	display: inline-block;
}

.taskCountdown div > span{
	padding: 12px;
	border-radius: 3px;
	background: #5A798C;
	display: inline-block;
}

.smalltext{
	padding-top: 4px;
	font-size: 14px;
    color: #364C59;
}

.task-title{
    font-size: 30px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}
.task-title-done{
    text-decoration: line-through;
    font-size: 30px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
.product-list .item img {
    width:100%;
    margin-bottom:8px;
}

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}

/* braintree hosted fields */
form div.field {
    font-size:13px;
    color:#666;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}
